.jshop h1{
    margin-top: 0px;
    font-size:16px;
}
.jshop td, .jshop tr{
    border: 0px;
}

table.jshop{
	border-collapse: collapse;
	border: 0px;
	width: 100%;	
}
table.jshop td{
	vertical-align: top;
}
table.list_product{
    margin-top:20px;
}

img.jshop_img{
	padding: 1px;
	text-align: center;
	border: 1px solid #808080;
}
img.jshop_img_thumb{
	padding: 1px;
	text-align: center;
	border: 1px solid #808080;
    margin: 0px 5px 5px;
	cursor: pointer;
}
.jshop table.category{
    width: auto;
}
table.jshop a img.jshop_video_thumb{
    padding: 1px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:5px;    
}
div.jshop_prod_description{
	padding-top:10px;
    padding-bottom: 10px;
}
div.jshop_prod_attributes{
	padding:0;
	margin:0;
    padding-bottom: 10px;
}
.jshop_subtotal .value{
	text-align: right;
	width: 12%;
    white-space: nowrap;
}
.jshop_subtotal .name{
    text-align: right;
    padding-right: 10px;
    width:88%;
}
.jshop .total{
    font-weight: bold;
}
.related_header{
    margin-top: 20px;
    border-bottom: 1px solid #999;
    font-weight: bold;
}


table.jshop a img {
	border: 0;
}
.jshop_pagination{
    margin-left: auto;
    margin-right: auto;
}
.jshop .product_list_hr{
    height: 1px;
    border-top:1px solid #aaa;
    margin-bottom: 10px;
}

table.jshop_checkout {
	border: 1px solid red;
	background-color: Gray;
}



.register_block .jshop_register .name{
    width:120px;
}
.address_block .jshop_register .name{
    width:115px;
}
.editaccount_block .jshop_register .name{
    width:115px;
}

span.small_header{
	padding-bottom: 3px;
	margin: 0px;
	display: block;
	font-size: 13px;
	font-weight: bold;
}

span.jshop_error {
	color:red;
	font-weight: bold;
	font-size: 14px;
	display: block;
}

span.text_pay_without_reg{
    display: block;    
    padding-bottom: 10px;
}

a.policy {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
}

.jshop_payment_method{
	padding-left: 20px;
}

#active_step{
	font-weight: bold;
	padding:0;
	margin:0;
	vertical-align: middle;	
}

#order_add_info{
	width: 400px;
	height:70px;
}
p.jshop_cart_attribute{
	padding-left:10px;
	font-weight:bold;
	font-style: italic;
	font-size: 11px;
    margin-top:1px;
    margin-bottom:4px;
}
p.jshop_cart_extra_field{
    padding-left:10px;
    font-weight:bold;
    font-style: italic;
    font-size: 11px;
    margin-top:1px;
    margin-bottom:4px;
}
.jshop_price{
	color: #950000;
}

td.jshop_categ a.product_link{
	font-size: 14px;
}

span.attr{
   font-weight: bold;
   font-style: italic;
   font-size:10px;
}

div.jshop_register .inputbox{
	width:240px;
}

span.review{
	font-weight: bold;
	margin-top:20px;
	display: block;
}
.review_text_not_login{
    margin-top: 10px;
    font-style: italic;
}

textarea.jshop{
	border: 1px solid #b0b1b2; 
}

tr.reviews td{
	padding-bottom:15px;
}

td.reviews{
	padding-left:45px;
}

#mxcpr{
	padding-top:20px;	
	text-align: right;
	display:block;
}
#mxcpr a{
	font-size:9px;
}

.jshophead{display:inline-block;}

.str_category {}

.jshop_code_prod{
    color: #999;
    font-weight: normal;
    font-size:12px;
}

.list_extra_field{
    padding-top:3px;
}

.jshop .weightorder{
    text-align: right;
    margin-top:3px;
}

.jshop .shippingfree{
    text-align: right;
    margin-top:3px;
}

.jshop .price_prod_qty_list .qty_line{
    padding-left: 5px;
    padding-right: 5px;    
}
.jshop .price_prod_qty_list .qty_price{
    padding-left: 5px;
    font-weight: bold;    
}
.jshop .price_prod_qty_list .qty_price span.per_piece{
    font-weight: normal;
}

.jshop .prod_buttons{
    
}

.jshop span.old_price{
    text-decoration: line-through;
    font-style: normal;
}

.jshop .list_product_demo{
    padding-top:10px;
}
.jshop .list_product_demo table{
}
.jshop .list_product_demo .download{
    padding-left:5px;
}

.jshop .not_available{
    color: red;
    margin-top:10px;
}

.jshop_list_product .jshop .old_price{
    text-decoration: line-through;
    font-style: normal;
    padding-bottom: 1px;
}
.jshop_list_product .product td{
    vertical-align: top;
}
.jshop_list_product .product .image{
    padding-right: 5px;
}
.jshop_list_product .product .name{
    padding-top: 2px;
}
.jshop_list_product .product .description{
    font-size: 11px;
    padding-bottom:5px;
}
.jshop_list_product .product .buttons{
    padding-top:2px;
}
.jshop_list_product .product table.review_mark{
    border-collapse: collapse;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;    
}
.jshop_list_product .product div.count_commentar{
    text-align: center !important;
}
.jshop_list_product .product .taxinfo{
    font-size:11px;
}
.jshop_list_product .product .plusshippinginfo, .jshop_list_product .product .plusshippinginfo a{
    font-size:11px;
}

.jshop_list_product .image_block{
    padding: 2px;
}
.jshop_list_product .jshop .not_available{
    margin-top:4px;
}
.jshop_list_product .box_products_sorting{
    padding-right:5px;
}
.jshop_list_product .box_products_sorting img{
    cursor: pointer;
}
.jshop_list_product .box_products_count_to_page{   
}

.jshop_list_product .margin_filter{
    height:8px;
 }
.jshop_list_product .box_manufacrurer{
    padding-right: 5px;
    white-space: nowrap;
}
.jshop_list_product .box_category{
    padding-right: 5px;
    white-space: nowrap;
 }
.jshop_list_product .filter_price{
    padding-right: 5px;
    white-space: nowrap;
}
.jshop_list_product .box_price_from{
    padding-right: 3px;
}
.jshop_list_product .clear_filter{
    font-size:10px;
    padding-left: 5px;
}

.jshop .product_label{
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;    
}
.jshop .product_label .label_name{
    font-weight: bold;
    color: #950000;
}

.productfull #block_price{
    font-size:16px;
    font-weight: bold;
}
.productfull .taxinfo{
    font-size:11px;
}
.productfull .plusshippinginfo{    
    font-size:11px;
}
.productfull .plusshippinginfo a{
    font-size:11px;
}

.productfull .prod_buttons .buttons{
    padding-left:10px;
}
.productfull .prod_buttons {
    margin-top:5px;
}
.productfull div.prod_url{
    text-align: right !important;
}
.jshop_subtotal .plusshippinginfo, .jshop_subtotal .plusshippinginfo a{
    font-size:11px;
}

.jshop_subtotal .free_discount{
    font-size:11px;
}


.jshop_list_category .category td{
    vertical-align: top;
}
.jshop_list_category .category .image{
    padding-right: 5px;
}

.jshop_list_manufacturer .manufacturer td{
    vertical-align: top;
}
.jshop_list_manufacturer .manufacturer .image{
    padding-right: 5px;
}

.shipping_weight_to_price{
    margin-left:24px;
    margin-top:5px;
    border: 1px solid #000;
}
.shipping_weight_to_price .weight{
}
.shipping_weight_to_price .price{
    padding-left: 5px;
}

span.prod_attr_img{
    padding-left:5px;
}
span.prod_attr_img img{
    width:20px;
    height:20px;
}
.radio_attr_label img{
    width:20px;
    height:20px;
}


/*review*/
.review_header{
    margin-top:20px;
    font-weight: bold;
    border-bottom: 1px solid #999;
}
.review_item{
    border-bottom: 1px dotted #999999;
    padding: 10px;
    padding-left: 0px;
}
.review_user{
    font-weight:bold;
}
.review_time{
    
}
.review_text{
    padding-top: 2px;
    padding-bottom: 2px;
}
.review_mark{
    color: #333333;
    height: 18px;
}
#jshop_review_write .inputbox{
    width:180px;
}


.jshop .downlod_order_invoice{
    float:right;
}

.jshop .order_payment_params{
    padding-top:3px;
    font-size: 11px;
}

.requiredtext{
    padding-bottom: 10px;
    color: #A00;
    font-size:11px;
}
.jshop .input_type_radio{
    margin-right: 10px;
    white-space: nowrap;
	display: inline-block;
}
.jshop_profile_data{
    margin-bottom: 10px;
}
.jshop_profile_data .name{
    font-weight: bold;
}
.jshop_profile_data span{
    font-weight: bold;
}
.jshop_profile_data span.subinfo{
    font-size:10px;
}
.jshop_profile_data .jshop_user_group_info{
    font-size:10px;
}
.jshop .groups_list .title{
    width:150px;
}

/* module categories*/
.jshop_menu_level_0, .jshop_menu_level_0_a{
    margin-top:3px;
    margin-bottom:3px;
}
.jshop_menu_level_1, .jshop_menu_level_1_a{ 
    padding-left: 10px;
    margin-top:3px;
    margin-bottom:3px;    
}

.jshop_menu_level_2, .jshop_menu_level_2_a{
    padding-left: 20px;
    margin-top:3px;
    margin-bottom:3px;    
}
.jshop_menu_level_0_a a, .jshop_menu_level_1_a a, .jshop_menu_level_2_a a{
    font-weight:bold !important;
}
/**/

.label_products .block_item{
    margin-bottom: 10px;
}

.top_rating .block_item{
    margin-bottom: 10px;
}

.bestseller_products .block_item{
    margin-bottom: 10px;
}

.latest_products .block_item{
    margin-bottom: 10px;
}

.random_products .block_item{
    margin-bottom: 10px;
}

.jshop_filters .filter_price{
    padding-right: 5px;
}
.jshop_filters .clear_filter{
    display: block;
    font-size: 10px;
}

.jshop_button_print{
    width: 30px;
    float: right;
    padding-top:3px;
    text-align:right;
}
.extra_fields .extra_fields_group{
    font-weight: bold;
    padding-top:3px;
}
.extra_fields div{
}
.filter_characteristic .characteristic_name{
    padding-top:5px;
}
.filter_characteristic .characteristic_group{
    font-weight: bold;
    padding-top:5px;
}
.jshop td.attributes_title {
	width: 50px;
}
.jshop span.attributes_description {
	font-style: italic;
	display: block;
}
.jshop .prod_free_attribs .name {
	width: 50px;
}
.jshop span.freeattribut_description {
	font-style: italic;
	display: block;
}
.jshop span.extra_fields_description {
	font-style: italic;
}
.jshop .prod_attr_img{
    vertical-align: top;
}
.jshop .cart .product_name{
    text-align: left;
}
.jshop .prod_qty_input input{
    width:20px;
}
.productfull .manufacturer_name{
    padding-bottom: 10px;
}
.productfull .prod_free_attribs{
    padding-bottom: 10px;
	
}
.productfull .price_prod_qty_list{
    margin-bottom: 10px;
}
.productfull .button_back{
    padding-top: 10px;
}
.jshop_img_description #list_product_image_thumb{
    display: block;
}
.productfull .text_zoom {
    padding-bottom: 5px;
    padding-top: 3px;
}
.productfull .text_zoom img {
    float: left;
    padding-right: 5px;
}
.productfull a.lightbox:hover{
    color:#000 !important;
}
.fielderror{
    background-color: #FDC055;
}
/************************************************************************************/
/******************************* START OF NEVIGEN EDIT ******************************/
/************************************************************************************/
div.jshop_register{
	width: 100%;
	text-align: left;
	padding:10px;
	padding-left:0px;
}

form[name="loginForm"] fieldset {
	background: #F1F1F1;
	margin-bottom: 10px;
	padding: 10px 15px;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.jshop_register .name {
    width:215px;
	display: inline-block;
}

#username label, #divpassword label {
    width:80px;
	display: inline-block;	
}

#username, #divpassword, #lost_password {
	margin-top: 2px;
}
	
.jshop_register > fieldset > div {
	margin-top: 2px;
}

.fielderror {
	border-color: red !important; 
}

/* if some block invisible, just uncomment needed style below *

form[name="loginForm"] .user_address {
	display: none;
}

/*
form[name="loginForm"] .user_info {
	display: none;
}

form[name="loginForm"] .user_contact {
	display: none;
}

form[name="loginForm"] .user_login {
	display: none;
}
*/

.login_block { float: left; } 

.register_block, .login_block {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #FFFFFF;
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
}

.register_block .jshop_register .name { width:120px; }
.address_block .jshop_register .name { width:115px; }
.editaccount_block .jshop_register .name{ width:115px; }

#mxcpr{
	padding-top:20px;	
	text-align: right;
	display:block;
	clear:both;
}
#mxcpr a{
	font-size:9px;
}

.reqsave { padding-top:10px;}
.regbutton { padding-top:3px; }
.checkout_cart { margin-top:10px; }
.pointer { cursor:pointer; }
div.rabatt { margin-top: 20px; }
.width100 { width: 100%; }
.width50 { width: 50%; }
.width33 { width: 33%; }
.width25 { width: 25%; }
.width20 { width: 20%; }
.width15 { width: 15%; }
.width10 { width: 10%; }

/*----------------- category ---------------------*/

.jshop_categ{
	vertical-align: top;
	padding-bottom: 20px;
	float: left;
}

.jshop_list_product .block_product{
	float: left;
}

.productfull .image_middle{
    float: left;
	margin-right:10px;
}
/************************** list category ********************/

.jshop_list_category, .jshop_list_product, #sort_count, .jshop.list_category {
	width: 100%;
	display: block;
	clear: both;
}

/*-------------------------- cart ---------------------------*/

.td_1{
	text-align: left;
	font-weight: bold;
	display: block;
	float: left;
}
.td_2{
	text-align: right;
	font-weight: bold;
	display: block;
	float: right;
} 
#checkout {
 	margin-top: 10px;
}
table.cart {
	border-collapse: collapse;
}
table.cart {
	width: 100%;
}

table.cart {
	border-right: 1px solid;
	border-color: rgba(0, 0, 0, 1);
}
caption {
	display: table-caption;
	text-align: -webkit-center;
}
table.cart caption {
	font-size: 11px;
	text-align: left;
	font-style: italic;
}
table.cart caption {
	color: #999;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
table.cart th {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}
table.cart thead th {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, 1);
}

table.cart tfoot {
	font-style: italic;
}
table.cart tbody, table.cart tfoot {
	font-size: 13px;
	border-top: 1px solid;
	border-color: rgba(0, 0, 0, 1);	
}

table.cart tfoot td {
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, 1);
}
table.cart tbody tr:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.02);
}
table.cart tr td, table.cart tr th {
	border-left: 1px solid;
	border-color: rgba(0, 0, 0, 1);
	padding: 5px 10px;
}
/*****/
#number span {
	float: left;
}
table.cart tbody tr:hover td.product_name a, 
table.cart tbody tr.odd:hover td.product_name a {
	color: #DD5500;
}
table.cart tbody tr:hover td.product_name a:hover, 
table.cart tbody tr.odd:hover td.product_name a:hover {
	text-decoration: underline;
}
.alright {
	text-align: right;
}
.tfoot { 
    height: 0;
    padding: 4px 0 !important;
}
/*------------------------- product -------------------------*/

div.jshop_img_description {
	vertical-align: top;
	text-align:left;
    padding-left: 10px;
}
div.jshop_img_description_center {
	vertical-align: top;
	text-align:left;
}

.block_product .product {
	padding: 20px 5px; 
}

.prod_qty, .prod_qty_input, .prod_buttons div.buttons {
	display: inline;
}

.prod_qty_input {
	width: 1%;
}

.prod_buttons div.buttons {
	width: 50%;
	clear: both;
}
.productfull .prod_free_attribs .jshop .name {
    padding-bottom: 10px;
	display: inline-block;
}

/**************************** related product **************************/

.jshop_list_product .jshop_related{
    padding-bottom: 5px;    
	float: left;
}
div.list_related{
    margin-top:10px;
}
[class*=attributes_] {
	margin-top: 3px;
	vertical-align: top;
}
[id*=block_attr_sel_] {
	display: inline-block;
}

/********************* review ********************************/
#jshop_review_write > div {
	margin-top: 5px;
}

#jshop_review_write label {
    display: inline-block;
	width: 115px;
} 
/* ----------SEARCH -------------------------------------------- */
.js_search_gen {}
.js_search_gen  > div { margin:15px 0; }
.js_serch_text {}
.js_name { font-weight:bold; }
.js_field{margin:0 15px;}
.js_field input{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; height:18px;border:1px solid #CCCCCC;}
.js_search_price{margin:15px 0;}
.js_search_price {}
.js_search_date{margin:15px 0;}


/* ----------checkout -------------------------------------------- */

.jshop_order_step{
	padding:5px 2px;
	text-align: center;
	vertical-align: middle;
	float:left;
	margin-right:10px;
	font-size:13px;
	font-weight:normal;
	color:#950000;
}
.jshop_order_step a{
	vertical-align: top;
	text-decoration: underline;
	font-size:13px;
	font-weight:bold;
}
#jshop_menu_order{
	margin:10px;
	border-bottom: 2px solid #616161;
	min-height: 30px;
}

.order_finish{}

/* ----------orders -------------------------------------------- */

.jshop_orderlist {margin-top:20px; width:98%}
.order_info_N, .order_info_status{
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 0 0;
	padding: 3px 7px;
	float: left;
	margin: 0 5px;
}
.table_order_list{
	position:relative;
    padding:1em;
	margin:2px 10px 4em;
	background:#fff;
	border-radius:4px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-border-radius:4px;
	width: 90%;
	min-height:70px;
}
.table_order_list .botom { height:24px; vertical-align: middle;}
.table_order_list .priceord {
	color: #2F8AB6;
	float: right;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 7px;
}

.order_info_N {margin-left: 20px;}
.order_info_status {}
.order_info {float:right;min-height: 70px;}
.order_info_products{float:left;}
.order_href_details{padding:5px 10px; color:#ffffff; text-decoration:none;}
.order_info_noorders {font-size:14px; font-weight:bold;}

.jshop_name {font-size:14px; font-weight:bold;}
.padiv {padding:5px 0;}
.prevfinishjshop {text-align:center;width:auto;margin-left:auto;margin-right:auto;}
.finish_registr {text-align:center;padding-top:3px;}
.thanksfinish{font-size:30px;}
.mainblock {}

#order_summary_user_data td.width50 {
	padding: 3px;
}

#order_summary, #order_summary_user_data, #order_history, #order_comment, #shipping_information, #payment_information {
	margin-bottom: 15px;
}
#jshop_delivery_address, #jshop_user_data {
	vertical-align: top;
}
#jshop_delivery_address tbody tr:nth-of-type(odd),
#jshop_user_data tbody tr:nth-of-type(odd) {
	background-color:#ddd;
} 

/*************************** Vendors *************************************************/
.vendordetailinfo .name{
    width:150px;
}
.vendordetailinfo .vendor_logo{
    float:right;
}
.vendora {
    width:auto;
}

/***************************PRODUCT ***************************************************/

.stars_no_active{
    height:16px;
    background-image:url(../images/star.gif);
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.stars_active{
    height:16px;
    background-image:url(../images/star.gif);
    background-repeat: repeat-x;
    background-position: 0px -16px;
}
.no_display { display: none; }
.clear { clear:both; }
.padding6 { padding:6px; }

.ratinghits {
	height:22px;
	margin-bottom: 10px;
}
.ratinghits span {
	display: table-cell;
	padding: 2px;
}

/************* tips *****************/
.jshop .tooltip {
	position: absolute;
	z-index: 1000;
	border: 1px solid #777777!important;
	background-color: #eeeeee!important;
	padding: 15px 10px!important;
	min-width: 500px;


}
[id*=extra_fields_tooltip_], [id*=attributes_], [id*=freeattribut_] {
    background-color: #3D5A9E;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 16px;
    padding-top: 1px;
    text-align: center;
    width: 16px;
}

[id*=extra_fields_tooltip_]:after, [id*=attributes_]:after, [id*=freeattribut_]:after {
	content: " i";
}
/*---------------------- typography ------------------------------------*/

.strong {
	font-weight: bold;
}
.list_product_row {
	overflow: hidden;
}
/******************************* END OF NEVIGEN EDIT ********************************/ 
table.order_history td{
	padding-right:15px;
	padding-bottom:5px;
	padding-top:3px;
}

.attributgr_name{
    font-weight: bold;
}
#table_shippings .shipping_form{
    display: none;    
}
#table_shippings .shipping_form_active{
    display: block;
}
.jshop .order_shipping_params {
    font-size: 11px;
    padding-top: 3px;
}
